body {
    background-color: rgba(220, 200, 160, 255);
    overflow: hidden;
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
#reset-btn {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: yellow;
    border-radius: 0 0 0 10px;
    padding: 5px;
    cursor: pointer;
}
div#log {
    background-color: lavender;
    padding: 0.8em;
}
#log p {
    margin: 0.2em 0;
    background-color: beige;
    font-size: 11pt;
}
#log h2 {
    margin: 0.2em 0;
    font-size: 14pt;
}
